*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
padding: 30px;
}
h1{
position: absolute;
width: 160px;
height: 24px;
left: 640px;
top: 50px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #000000;
}
p{
position: absolute;
width: 650px;
height: 58px;
left: 395px;
top: 104px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;
}
.block{	position: absolute;
width: 820px;
height: 447px;
left: 310px;
top: 212px;
background: url(../img/6052077401.jpg) center no-repeat;
border: 5px solid #FFFFFF;
box-sizing: border-box;
}
h2{	position: absolute;
width: 630px;
height: 96px;
left: 415px;
top: 759px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
}
h3{
position: absolute;
width: 630px;
height: 96px;
left: 415px;
top: 885px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
}
.ul1{
	position: absolute;
width: 630px;
height: 24px;
left: 449px;
top: 1031px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
background: url(../img/icons/li.svg) left no-repeat;
padding: 0 0 0 20px;
color: #000000;
}
.ul2{position: absolute;	width: 630px;	height: 24px;
left: 449px;
top: 1075px;	
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
background: url(../img/icons/li.svg) left no-repeat;
padding: 0 0 0 20px;		
color: #D45952;
}
.ul3{position: absolute;
width: 630px;
height: 24px;
left: 449px;
top: 1119px;	
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
background: url(../img/icons/li.svg) left no-repeat;
padding: 0 0 0 20px;		
color: #000000;
}
.ul4{position: absolute;
width: 630px;
height: 21px;
left: 449px;
top: 1165px;	
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
background: url(../img/icons/li.svg) left no-repeat;
padding: 0 0 0 20px;
	
color: #000000;
}
button{
position: absolute;
width: 190px;
height: 51px;
left: 415px;
top: 1217px;
background: #D45952;
border-radius: 20px;
}